*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(35, 116, 108, 0.172);
}
.container{
    width: 100%;
}
.description{
    text-align: center;
}
.circle-container{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.text-container{
    margin-top:40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    margin:0 auto;
    text-align: center;
    margin:20px 0;
}
h2{
    text-align: center;
    font-size: 25px;
}
.box{
   width: 250px;
   height: 250px;
   border-radius: 50%;
   border:2px solid black;
}
.pass{
    
}
.btn{
    border-radius: 10px;
}